---
// Header - Navigation bar
// ------------
// Description: navigation bars offer a persistent and convenient way to switch between primary destinations in an app.
// Structure:
// - Logo: the logo of the website
// - Menu toggle: the mobile menu toggle of the navigation bar
// - Navigation Links: the navigation links of the menu
// - Actions: action buttons for the navigation bar
// - Theme Switcher: the mode (light/dark) switcher of the website

// Reference: https://wind-ui.com/components/navbars/

// Components
// - UI
import { Icon } from 'astro-icon/components'
import Button from './Button.astro'
import Switcher from './ModeSwitcher.astro'

// Data
import { navigationBarData } from '../../config/navigationBar'
const { logo, navItems, navActions } = navigationBarData

// Determine current path
const path = new URL(Astro.request.url).pathname
function isActivePath(currentPath: string): boolean {
	return path === currentPath || path === `${currentPath}/`
}

// Type assertion for navActions to ensure type safety
const savedNavActions = navActions.map((action) => ({
	...action,
	size: action.size as 'base' | 'lg' | 'sm',
	style: action.style as 'primary' | 'secondary' | 'neutral'
}))
---

<header class="header">
	<div class="header__container">
		<nav aria-label="main navigation" role="navigation" class="header__nav">
			<!-- Logo -->
			<a href="/" class="header__logo">
				<img src={logo.src} alt={logo.alt} width="48" height="48" />
				<!-- <span>{logo.text}</span> -->
				 
				<!-- window.mobileCheck = function() {
					let check = false;
					(function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
					return check;
				  }; -->
				<span style="white-space: normal;">The Weather & Climate Livestream</span>
			</a>

			<!-- Menu toggle -->
			<button
				id="header-toggle"
				class="header__toggle"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<div class="header__toggle-inner">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</div>
			</button>

			<!-- Navigation links -->
			<ul role="menubar" aria-label="Select page" class="header__menu">
				{
					navItems.map((item) => (
						<li role="none" class="header__menu-item">
							{!item.submenu ? (
								<a
									href={item.link}
									role="menuitem"
									class={`header__menu-link ${isActivePath(item.link) ? 'active' : ''}`}
								>
									{item.name}
								</a>
							) : (
								<span
									role="menuitem"
									class={`header__menu-link ${isActivePath(item.link) ? 'active' : ''}`}
								>
									{item.name}
									<Icon name="chevron-down" class="header__menu-chevron" />
								</span>
							)}
							{item.submenu && (
								<ul class="header__submenu">
									{item.submenu.map((subItem) => (
										<li role="none" class="header__submenu-item">
											<a
												href={subItem.link}
												role="menuitem"
												class={`header__menu-link ${isActivePath(item.link) ? 'active' : ''}`}
											>
												{subItem.name}
											</a>
										</li>
									))}
								</ul>
							)}
						</li>
					))
				}
			</ul>

			<!-- Theme Switcher -->
			<!-- <Switcher /> -->

			<!-- Navigation action buttons -->
			<div class="header__actions">
				{
					savedNavActions.map((action) => (
						<Button classes="flex-auto" type="link" size={action.size} style={action.style} link={action.link}>
							{action.name}
						</Button>
					))
				}
			</div>
		</nav>
	</div>
</header>

<style>
	.header {
		@apply sticky top-0 z-20 w-full animate-fadeInShadowDark [animation-range:0%_20rem] [animation-timeline:scroll()] before:absolute after:absolute after:left-0 after:top-full after:z-10 after:block after:h-px after:w-full lg:after:hidden dark:animate-fadeInShadowDark dark:[animation-range:0%_20rem] dark:[animation-timeline:scroll()];
	}
	.header:before {
		@apply block h-full w-full bg-neutral-900/90 lg:backdrop-blur-sm dark:bg-neutral-900/90;
	}
	.header__container {
		@apply container relative mx-auto px-6;
	}
	.header__logo {
		@apply flex flex-auto items-center gap-2 whitespace-nowrap py-3 font-headings text-2xl font-black tracking-wider focus:outline-none;
	}
	.header__nav {
		@apply flex h-[5.5rem] items-stretch gap-6 font-medium text-neutral-50 lg:justify-between dark:text-neutral-50;
	}
	.header__menu {
		@apply invisible absolute left-0 top-0 z-[-1] ml-auto h-dvh w-full justify-center overflow-hidden overflow-y-auto overscroll-contain bg-neutral-900/90 px-8 py-[6rem] font-medium opacity-0 transition-[opacity,visibility] duration-300 lg:visible lg:relative lg:top-0 lg:z-0 lg:flex lg:h-full lg:w-auto lg:items-stretch lg:overflow-visible lg:bg-white/0 lg:px-0 lg:py-0 lg:pt-0 lg:opacity-100 lg:bg-transparent dark:bg-neutral-900/90 dark:lg:bg-transparent;
	}
	.header__menu--open {
		@apply visible opacity-100 backdrop-blur-sm;
	}
	.header__menu-item {
		@apply relative flex cursor-pointer flex-col items-stretch lg:flex-row;
	}
	.header__menu-link {
		@apply relative flex items-center gap-1 py-4 transition-colors duration-300 hover:text-primary-500 focus:text-primary-600 focus:outline-none focus-visible:outline-none lg:px-6 [&.active]:text-primary-500;
	}
	.header__menu-chevron {
		@apply h-4 w-4 transition-transform [.header\_\_menu-item.open_&]:rotate-180;
	}
	.header__submenu {
		@apply left-0 top-full hidden animate-dropdown rounded bg-neutral-500/10 px-4 lg:absolute lg:min-w-48 lg:rounded-t-none lg:bg-neutral-900/90 lg:p-0 lg:shadow-lg lg:shadow-neutral-950/50 lg:backdrop-blur-sm dark:bg-neutral-500/10 lg:dark:bg-neutral-900/90 lg:dark:shadow-neutral-950/50 [.header\_\_menu-item.open_&]:block;
	}
	.header__submenu-item {
		@apply hidden [.header\_\_menu-item.open_&]:block;
	}
	.header__submenu-link {
		@apply px-8 py-4 hover:text-primary-500 [.header\_\_menu-item.open_&]:flex;
	}
	.header__toggle {
		@apply relative order-10 block h-10 w-10 self-center lg:hidden [&--open]:visible [&--open]:opacity-100;
	}
	.header__toggle-inner {
		@apply absolute left-1/2 top-1/2 w-6 -translate-x-1/2 -translate-y-1/2 transform;
	}
	.header__toggle-inner span {
		@apply absolute block h-0.5 transform rounded-full bg-white transition-all duration-300 dark:bg-white;
	}
	.header__toggle-inner span:nth-child(1) {
		@apply w-9/12 -translate-y-2 [.header\_\_toggle--open_&]:w-6 [.header\_\_toggle--open_&]:translate-y-0 [.header\_\_toggle--open_&]:rotate-45;
	}
	.header__toggle-inner span:nth-child(2) {
		@apply w-6 [.header\_\_toggle--open_&]:-rotate-45;
	}
	.header__toggle-inner span:nth-child(3) {
		@apply w-1/2 origin-top-left translate-y-2 [.header\_\_toggle--open_&]:w-0;
	}
	.header__actions {
		@apply fixed bottom-0 left-0 hidden w-full items-center justify-between gap-4 border-t border-neutral-800 bg-neutral-950 px-6 py-4 lg:relative lg:ml-auto lg:flex lg:w-auto lg:border-none lg:bg-transparent lg:px-0 lg:py-0 dark:border-neutral-800 dark:bg-neutral-950 lg:dark:bg-transparent [.header\_\_menu--open~&]:flex;
	}
</style>
